/* .jumbotron {
	background: #532F8C;
	color: white;
	padding-bottom: 80px;
}

.jumbotron .btn-primary {
	background: #845ac7;
	border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
	background: #7646c1;
}

.jumbotron p {
	color: #d9ccee;
	max-width: 75%;
	margin: 1em auto 2em;
}

.navbar+.jumbotron {
	margin-top: -20px;
}

.jumbotron .lang-logo {
	display: block;
	background: #B01302;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white;
}

.jumbotron .lang-logo img {
	max-width: 100%;
} */
body, p, * {
	font-family: 'Montserrat', sans-serif;
	/* font-family: GothamBookRegular; */
	color: #302f09;
	font-size: 16px;
}

.center {
	text-align: center;
}

strong, .dark {
	color: #484623;
}

.jumbotron .btn {
	margin-top: 15px;
	margin-bottom: 15px;
}

.uppercase {
	text-transform: uppercase;
}

.btn-yellow {
	color: #2c2b05;
	background-color: #ffe052;
}

.btn-gold {
	color: #fcfbe3;
	background-color: #766b22;
}

section, footer {
	padding: 60px 0;
}

.navbar {
	border-bottom: 2px solid black;
}

.bright-yellow-bkg {
	background-color: #fcfbe3;
	border-top: 10px solid #ffe052;
	border-bottom: 10px solid #ffe052;
	color: #2c2b05;
}

.display-1, h1 {
	font-size: 32px;
	font-weight: lighter;
}

.display-2, h2 {
	font-size: 28px;
	font-weight: bold;
}

.display-3, h3 {
	font-size: 24px;
	font-weight: lighter;
}

h4, .display-4 {
	font-size: 18px;
	font-weight: bold;
}

.display-4 {
	font-weight: lighter;
}

.lead {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}

.CBLtBgClr {
	background-color: #F6F3DD;
}

.CBLtBgClr {
	background-color: #F6F3DD;
}

/* @font-face {
    font-family: GothamBookRegular;
    src: url('fonts/GothamBookRegular.otf');
} */
p {
	/* font-family: GothamBookRegular; */
	padding-bottom: 15px;
}

.facebook {
	font-size: 5em;
	color: #3B5998;
}

@media(min-width: 1030px) {
	.jumbotron .col-sm-4.display-3 br {
		display: none;
	}
}


/* Tablet Breakpoint */
@media all and (min-width: 768px) {
	.display-1, h1 {
		font-size: 56px;
	}

	.display-2, h2 {
		font-size: 42px;
	}

	.display-3, h3 {
		font-size: 36px;
	}

	h4 {
		font-size: 20px;
	}
}

/* Desktop Breakpoint */
@media all and (min-width: 768px) {
	.display-1, h1 {
		font-size: 72px;
	}

	.display-2, h2 {
		font-size: 42px;
	}

	.display-3, h3 {
		font-size: 32px;
	}

	h4, .display-4 {
		font-size: 24px;
	}
}
