.jumbotron {
	background: #532F8C;
	color: white;
	padding-bottom: 80px;
}

.jumbotron .btn-primary {
	background: #845ac7;
	border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
	background: #7646c1;
}

.jumbotron p {
	color: #d9ccee;
	max-width: 75%;
	margin: 1em auto 2em;
}

.navbar+.jumbotron {
	margin-top: -20px;
}

.jumbotron .lang-logo {
	display: block;
	background: #B01302;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white;
}

.jumbotron .lang-logo img {
	max-width: 100%;
}

@font-face {
	font-family: GothamBookRegular;
	src: url('fonts/GothamBookRegular.otf');
}

body, p, * {
	font-family: GothamBookRegular;
	color: #302f09;
}

.center {
	text-align: center;
}

strong, .dark {
	color: #484623;
}

.jumbotron .btn {
	margin-top: 15px;
	margin-bottom: 15px;
}

.uppercase {
	text-transform: uppercase;
}

.btn-yellow {
	color: #2c2b05;
	background-color: #ffe052;
}

.btn-gold {
	color: #fcfbe3;
	background-color: #766b22;
}

section, footer {
	padding: 60px 0;
}

@font-face {
	font-family: GothamBold;
	src: url('fonts/GothamBold.otf');
}

.navbar {
	border-bottom: 2px solid black;
}

.bright-yellow-bkg {
	background-color: #fcfbe3;
	border-top: 10px solid #ffe052;
	border-bottom: 10px solid #ffe052;
	color: #2c2b05;
}

.display-1, h1 {
	font-size: 72px;
	font-weight: lighter;
}

.display-2, h2 {
	font-size: 42px;
	font-family: GothamBold;
}

.display-3, h3 {
	font-size: 32px;
	font-weight: lighter;
}

.display-4, h4 {
	font-size: 24px;
	font-family: GothamBold;
}

.display-4 {
	font-size: 22px;
	font-weight: lighter;
}

.lead {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.CBLtBgClr {
	background-color: #F6F3DD;
}
