<!DOCTYPE html>
<html lang="en">

	<head>
		{% block title %}<title>Free Oklahoma Courtdate Notifications</title>{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="friendly neighborhood court robot for getting court case information">
		<meta name="author" content="Code for Tulsa">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://unpkg.com/jquery"></script>
		<script src="https://unpkg.com/bootstrap"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
		<!-- Add additional CSS in static file -->
		{% load static %}
		<!-- <link rel="stylesheet" href="{% static "css/styles.css" %}"> -->
		<link rel="stylesheet" href="/static/css/styles.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132409583-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-132409583-1');
		</script>

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">
					{% load static %}
					<img class="img-responsive img-center" src="{% static 'images/logo-no-border.png' %}" alt="Courtbot logo" style="width:150px;margin-right:10px;">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#faq">FAQ</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}{% endblock %}

		<footer class="container-fluid text-center py-4" id="footer">
			<p class="">&copy; {% now "Y" %} <a target="_blank" href="https://www.codeforamerica.org/">Code for America</a>. This project is licensed under the Code for America <a href="https://github.com/codeforamerica/courtbot/blob/master/LICENSE">ISC license</a>. </p>
			<div class="row justify-content-center">
				<div class="col-sm-12">
					<a class="mx-1" target="_blank" href="https://github.com/codefortulsa/courtbot-python">
						<i class="fab fa-github fa-lg"></i>
					</a>
					<a class="mx-1" target="_blank" href="https://www.facebook.com/CourtBot-106405854094008/">
						<i class="fab fa-facebook fa-lg"></i>
					</a>
					<a class="mx-1" href="https://m.me/CourtBot-106405854094008" target="_blank"><i class="fab fa-facebook-messenger fa-lg" style=""></i></a>
					<a class="mx-1" href="https://slack.com/oauth/authorize?client_id=3558251564.770803254950&scope=bot,chat:write:bot,team:read" target="_blank"><i class="fab fa-slack-hash fa-lg" style=""></i></a>
					<a class="mx-1" href="mailto:courtbotmuskogee@gmail.com" target="_blank"><i class="far fa-envelope fa-lg" style=""></i></a>
				</div>
			</div>
			<!-- <h4>Join us on Facebook and Twitter for news and updates</h4>
			<div class="row">
				<div class="col-sm-12">
					<a href="https://www.facebook.com/MuskogeeCountyCourtBot/"><i class="hero-icons fab fa-facebook-square fa-2x" style="font-size:3em; color:#3B5998"></i></a>
					<a href="https://twitter.com/CodeforMuskogee"><i class="hero-icons fab fa-twitter-square fa-2x" style="font-size:3em; color:#08a0e9"></i></a>
				</div>
			</div> -->

		</footer>
		<script src="https://kit.fontawesome.com/4082aee318.js" crossorigin="anonymous"></script>
	</body>

</html>
