{% extends "base_generic.html" %}

{% block content %}

<div class="jumbotron bright-yellow-bkg">
	<div class="container text-center">
		<h1 class="display-1">Get Court Date Reminders</h1>
		<p class="display-2">Text your OSCN Case&nbsp;Number:</p>
		<div class="row justify-content-center">
			<div class="col-sm-6 display-3">Oklahoma <br /><a class="btn btn-lg btn-yellow" style="font-size:20px" href="sms:8443296801">(844) 329-6801‬</a></div>
		</div>
		<p class="Lead">
			Also available on:
		</p>
		<div class="row justify-content-center app-links">
			<div class="col-sm-4">
				<a href="sms:8443296801"><i class="fas fa-sms fa-2x"></i></a>
				<br><em>SMS Texting</em>
			</div>
			<div class="col-sm-4">
				<a href="https://m.me/CourtBot-106405854094008" target="_blank"><i class="fab fa-facebook-messenger fa-2x" style=""></i></a>
				<br><em>Facebook Messenger</em>
			</div>
				<div class="col-sm-4">
				<a href="https://slack.com/oauth/authorize?client_id=3558251564.770803254950&scope=bot,chat:write:bot,team:read" target="_blank"><i class="fab fa-slack fa-2x" style=""></i></a>
				<br><em>Slackbot</em>
			</div>
			<!-- <div class="col-sm-4 display-3">Rogers <br />County<br /><a class="btn btn-lg btn-yellow" style="font-size:20px" href="sms:9182059352">(918)-205-9352</a></div> -->
			<!-- <div class="col-sm-4 display-3">Tulsa <br />County<br /><a class="btn btn-lg btn-yellow" style="font-size:20px" href="sms:9189923222">(918)-992-3222</a></div> -->
		</div>
		


	</div>
</div>
<!--What is CourtBot-->

<div class="container text-center" id="whatIsCourtBot">
	<main>
		<h2>What is CourtBot?</h2>
		<p class="lead">COURTBOT is a text-message app that helps keep everything on track. After cases are booked, clients can text their case number to COURTBOT to receive automatic reminders of court dates. Research shows that reminders work.</p>
	</main>
</div>

<!--Why CourtBot-->
<section id="about" class="CBLtBgClr">
	<div class="container text-center" id="whyCourtBot">
		<h2>Why CourtBot?</h2>
		<article>

			<br>
			<h4>LESS BUREAUCRACY</h4>
			<p class="lead">Around 25% of the people in Tulsa County Jail are waiting for their cases to be heard, costing taxpayers up to $25,000 per day. When clients attend their court cases, more small fines are collected, and jail space is freed for more
				serious offenders. Remembering to attend court can help break the cycle of fines and jail time.
			</p>
		</article>
		<br>
		<article>
			<h4>FEWER FINES</h4>
			<p class="lead">Failure-to-appear and failure-to-pay fines can quickly snowball, especially for those living paycheck-to-paycheck. CourtBot helps clients avoid mistakes that burden them and the criminal justice system. Government done well can
				help.</p>
		</article>
	</div>
</section>
<!-- Case Reminder Form -->
<section id="form">
	<div class="container text-center">
		{% if messages %}
        	{% for message in messages %}
    		<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    		{% endfor %}
		{% endif %}
		<h2>Fill Out Reminder Form:</h2>
		<form action="/schedule_reminders" id="case-form" method="POST">
			<div class="form-group">
				<label for="case_num">Case Number <small>(ex: CF-1234-5678)</small></label>
				<input type="text" class="form-control" id="case_num" name="case_num" placeholder="Enter case number" required>
			</div>
			<div class="form-group">
				<label for="year">Year Filed</label>	
				<input type="number" class="form-control" id="year" name="year" min="2000" max="2100" placeholder="Enter year filed" required>
			</div>
			<div class="form-group">
				<label for="county">County</label>
				<input type="text" class="form-control" id="county" name="county" placeholder="Enter county" required>
			</div>
			<div class="form-group">
				<label for="phone_num">Reminder Phone Number <small>(ex: 918-123-4567)</small></label>
				<input type="tel" class="form-control" id="phone_num" name="phone_num" placeholder="Enter Phone Number"
				pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
			</div>
			<div class="form-group">
				<label for="add_phone_num">Additional Phone Number</label>
				<input type="tel" class="form-control" id="add_phone_num" name="add_phone_num" placeholder="Enter Phone Number"
				pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
			</div>
			<button id="add-case-btn" type="button" onclick="newCaseNumberGenerator()" class="btn btn-primary">Add Case Number</button>
			<button  type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</section>
<script>
	let index = 1
	let newCaseNumberGenerator = () => {

		let addCaseNum = "add_case_num_" + index.toString()

		let caseForm = document.getElementById('case-form')
		let addCaseBtn = document.getElementById("add-case-btn")

		let additionalCaseNumLabel = document.createElement("label"); 
		additionalCaseNumLabel.setAttribute('for', addCaseNum);
		additionalCaseNumLabel.innerHTML = "Additional Case Number " + index.toString() ;

		let additionalCaseNumSmall = document.createElement("small"); 
		additionalCaseNumSmall.innerHTML = "(ex: CF-1234-5678)" ;
		additionalCaseNumLabel.appendChild(additionalCaseNumSmall)

		let additionalCaseNumField = document.createElement("input"); 
		additionalCaseNumField.setAttribute('type',"text");
		additionalCaseNumField.setAttribute('name', addCaseNum);
		additionalCaseNumField.setAttribute('id', addCaseNum);
		additionalCaseNumField.setAttribute('class', "form-control");
		additionalCaseNumField.setAttribute('placeholder', "Enter case number");

		let additionalCaseNumDiv = document.createElement("div"); 
		additionalCaseNumDiv.setAttribute('class',"form-group");
		additionalCaseNumDiv.appendChild(additionalCaseNumLabel)
		additionalCaseNumDiv.appendChild(additionalCaseNumField)
		
		index += 1
		caseForm.insertBefore(additionalCaseNumDiv, addCaseBtn)
	}
</script>
<!--FAQs-->
<section id="faq" class="CBLtBgClr">
	<div class="container">
		<h2 class="center">Frequently Asked Questions</h2>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<h4>1. How do I know my OSCN Case Number?</h4>
				<p>It starts with CF, CM, CRF or CRM and has two dashes.</p>
			</div>
			<div class="col-sm-6">
				<h4>2. What if I still can't find my case number?</h4>
				<p>Check with your public defender or search your name online at <a href="https://www.oscn.net/dockets/search.aspx">www.oscn.net/dockets/search.aspx </a> 
				</p> 
			</div> 
			
			<div class="col-sm-6">
						<h4>3. Can other people be reminded of my court date?</h4>
						<p>Anyone with your case number will be able to use courtbot to keep track of your court date.</p>
			</div>
			<div class="col-sm-6">
				<h4>4. How will my information be used?</h4>
				<p>Your case information will be pulled into Courtbot's database to be used as a reference for your reminders</p>
			</div>
			<div class="col-sm-6">
				<h4>5. When will I be reminded of my court case?</h4>
				<p>Currently, a notification will be sent the day before you case.</p>
			</div>
			<div class="col-sm-6">
				<h4>6. How often will I be reminded?</h4>
				<p>Currently, you will only be reminded once.</p>
			</div>
			<div class="col-sm-6">
				<h4>7. How do I unsubscribe?</h4>
				<p></p>
			</div>
			<div class="col-sm-6">
				<h4>8. How do I contact the people behind CourtBot?</h4>
				<p>You can contact us at <a href="mailto:courtbotmuskogee@gmail.com">courtbotmuskogee@gmail.com.</a></p>
			</div>
		</div>
	</div>
</section>
<!--Credits-->
<section>
	<div id="sponsor-logo" class="container text-center ">
		<h3>Brought to you by</h3>
		<br>
		{% load static %}
		<img class="img-responsive img-center col-sm-8" src="{% static 'images/cft.png' %}" alt="Code for Tulsa Logo">
		<img class="img-responsive img-center col-sm-8" src="{% static 'images/brigade.png' %}" alt="Code for America Logo">
		<img class="img-responsive img-center col-sm-8" src="{% static 'images/cfm.png' %}" alt="Code for Muskogee">
	</div>
</section>
<!--Footer-->

{% endblock %}
